<div class="container">
  <div class="user-form mx-auto">
    <h3 class="text-center pt-2">質問を編集する</h3>
    <%= form_with(model: @question, url: {action: "update"}, local: true) do |f| %>
    <div class="form-group">
      <span style="color: #e86060;"><i class="fas fa-edit"></i></span>
      <%= f.label :question, "質問したい表現" %><br />
      <%= f.text_area :question, { class: "form-control", 'data-style': 'form-control', required: true, size: "10x5"  } %>
    </div>
    <div class="form-group">
      <span style="color: #e86060;"><i class="fas fa-edit"></i></span>
      <%= f.label :explanation, "どんな状況で使いたい？" %><br />
      <%= f.text_area :explanation, { class: "form-control", 'data-style': 'form-control', required: true, size: "10x10"  } %>
    </div>
    <%= f.submit "変更する", class: "btn btn-primary btn-lg btn-block my-3" %>
    <% end %>
  </div>
</div>

<div class="mx-auto pb-2">
  <%= button_to "質問を削除する", question_path,
    data: { confirm: "【注意】この操作は取り消せません。本当に質問を削除しますか？" },
    method: :delete, class:"btn btn-danger mx-auto d-block" %>
</div>
